.advantages {
    width: 76%;
    margin: 4% auto 0;
}

.advantages__subtitle {
    color: rgb(255, 200, 75);
    font-family: "Muller Medium";
    font-size: 12px;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 37px;
}

.advantages-list {
    list-style: none;
    display: flex;
    font-family: "Roboto Regular";
    margin: 0;
    padding: 0;
}

.advantages-list__item {
    flex-shrink: 0;
    width: 290px;
    margin-right: 50px;
    letter-spacing: 0.6px;
}