.button-wrapper {
    display: flex;
    width: 76%;
    margin: 10.7% auto 0;
}

.button-wrapper__video {
    display: inline-block;
    color: #080808;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 27px;
    font-family: "Muller Bold";
    text-transform: uppercase;
    padding: 20px 37px 14px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    margin-right: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.button-wrapper__photo {
    display: inline-block;
    background-color: #ffc54a;
    color: #080808;
    font-size: 14px;
    line-height: 27px;
    font-family: "Muller Bold";
    text-transform: uppercase;
    padding: 20px 37px 14px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.button-wrapper__video-icon {
    width: 16px;
    height: 16px;
    background: url('../img/play-video.png') no-repeat;
    background-size: 100% 100%;
    margin: -2px 10px 0 0;
}