.gallery-popup {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(7, 11, 12, 0.8);
    top: 0px;
    left: 0px;
    z-index: 100;
}

.gallery {
    // position: absolute;
    // width: 100vw;
    // height: 100vh;
    // background-color: rgba(7, 11, 12, 0.8);
    // top: 0px;
    // left: 0px;
    // z-index: 100;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
}

#gallery .owl-stage-outer {
    width: 80vw;
    height: 70vh;
    margin: 0 auto;
}

#gallery .owl-stage {
    height: 70vh;
    overflow: hidden;
}

.gallery-item {
    // width: 80vw !important;
    width: 80vw;
    height: 70vh !important;
}

#gallery .owl-stage img {
    background-size: contain;
    background-position: center;
}

#gallery .owl-nav {
    width: 62vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

#gallery .owl-nav button span {
    color: transparent;
}

#gallery .owl-nav button.owl-prev {
    background: url("../img/left-arrow.svg") no-repeat;
    background-size: 100% 100%;
    width: 60px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
}

#gallery .owl-nav button.owl-prev:hover {
    background: url("../img/left-arrow-active.svg") no-repeat;
    background-size: 100% 100%;
    width: 60px;
    height: 35px;
    transform: rotate(0deg);
}

#gallery .owl-nav button.owl-next {
    background: url("../img/left-arrow.svg") no-repeat;
    background-size: 100% 100%;
    transform: rotate(180deg);
    width: 60px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
}

#gallery .owl-nav button.owl-next:hover {
    background: url("../img/left-arrow-active.svg") no-repeat;
    background-size: 100% 100%;
    transform: rotate(180deg);
    width: 60px;
    height: 35px;
}

.gallery-popup__close {
    width: 16px;
    height: 16px;
    background: url('../img/gallery-popup-close.svg');
    background-size: 100% 100%;
    position: absolute;
    right: 19vw;
    top: 19vh;
    cursor: pointer;
    opacity: 1;
    z-index: 200;
}

@media (min-width: 1100px) and (max-width: 1599px) {
    .gallery-popup__close {
        right: 19vw;
    }
}

@media (min-width: 1024px) and (max-width: 1100px) {
    .gallery-popup__close {
        right: 13vw;
    }
}