.games-list__item-icon--dragon {
    width: 48px;
    height: 48px;
    background: url('../img/dragon-world.png') no-repeat;
}

.games-list__item-icon--breaking {
    width: 48px;
    height: 48px;
    background: url('../img/breaking-bad.png') no-repeat;
}

.games-list__item-icon--narcos {
    width: 48px;
    height: 48px;
    background: url('../img/narcos.png') no-repeat;
}

.games-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 300px;
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
}

.games-list__item {
    display: flex;
    flex-direction: column;
    width: 271px;
    margin-right: 50px;
}

.games-list__item-name {
    color: rgb(255, 200, 75);
}

.about-games__description {
    width: 583px;
}