.screen {
    color: rgb(255,255,255);
}

.first-screen {
    background: url('../img/first-screen.png') no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
}

.second-screen {
    background: url('../img/second-screen.png') no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
}

.third-screen {
    background: url('../img/third-screen.png') no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
}

.fourth-screen {
    background: url('../img/fourth-screen.png') no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
}

.slick-vertical .slick-slide {
    height: 100vh !important;
}

.slick-list .draggable {
    height: 100vh !important;
}

.slick-dots {
    position: absolute;
    z-index: 100;
    top: 300px;
}

.screen__title  {
    font-family: "Muller Black";
    font-size: 80px;
    line-height: 95px;
    color: rgb(255,255,255);
    margin: 294px 0 0 147px;
    text-transform: uppercase;
}

.screen__title .screen__title--yellow {
    color: rgb(255, 200, 75);
}

.screen__title .screen__title--small {
    font-family: "Muller Medium";
    font-size: 40px;
}

.screen__subtitle {
    font-family: "Roboto Regular";
    display: flex;
    flex-direction: column;
    font-size: 22px;
    line-height: 33px;
    margin: 45px 0 0 194px;
}

.screen-slider.slick-slider {
    width: 300px;
    height: 200px;
    left: 150px;
}

.screen-slider .slick-prev.slick-arrow {
    border: none;
    outline: none;
    width: 40px;
    height: 30px;
    background: url("../img/arrow-active.png") no-repeat;
    color: transparent;
}

.screen-slider .slick-prev.slick-arrow:hover {
    background: url("../img/hover-arrow.png") no-repeat;
    transform: rotate(180deg);
}

.screen-slider .slick-next.slick-arrow {
    position: absolute;
    bottom: 37px;
    border: none;
    outline: none;
    width: 40px;
    height: 30px;
    background: url("../img/arrow-active.png") no-repeat;
    color: transparent;
    transform: rotate(180deg);
}

.screen-slider .slick-next.slick-arrow:hover {
    background: url("../img/hover-arrow.png") no-repeat;
    transform: rotate(0deg);
}

.screen-slider .slick-arrow.slick-prev.slick-disabled {
    background: url("../img/arrow-disabled.png") no-repeat;
    transform: rotate(180deg);
}

.screen-slider .slick-arrow.slick-next.slick-disabled {
    background: url("../img/arrow-disabled.png") no-repeat;
    transform: rotate(0deg);
}

