.screen {
    color: rgb(255,255,255);
    background-color: rgb(12,42,46);
}

.first-screen {
    background: url('../img/first-screen.png') no-repeat;
    width: 100vw;
    height: 100vh;
    // background-size: 100% 100%;
    background-size: cover;
}

.second-screen {
    background: url('../img/second-screen.png') no-repeat;
    width: 100vw;
    height: 100vh;
    // background-size: 100% 100%;
    background-size: cover;
}

.third-screen {
    background: url('../img/third-screen.png') no-repeat;
    width: 100vw;
    height: 100vh;
    // background-size: 100% 100%;
    background-size: cover;
}

.fourth-screen {
    background: url('../img/fourth-screen.png') no-repeat;
    width: 100vw;
    height: 100vh;
    // background-size: 100% 100%;
    background-size: cover;
}

.fifth-screen {
    background: url('../img/five-screen.png') no-repeat;
    width: 100vw;
    height: 100vh;
    // background-size: 100% 100%;
    background-size: cover;
}

.sixth-screen {
    background: url('../img/six-screen.png') no-repeat;
    width: 100vw;
    height: 100vh;
    // background-size: 100% 100%;
    background-size: cover;
}

.seventh-screen {
    background: url('../img/seven-screen.png') no-repeat;
    width: 100vw;
    height: 100vh;
    // background-size: 100% 100%;
    background-size: cover;
}

.slick-vertical .slick-slide {
    height: 100vh !important;
}

.slick-list .draggable {
    height: 100vh !important;
}

.slick-dots {
    position: absolute;
    z-index: 100;
    top: 300px;
}

.screen__title  {
    font-family: "Muller Black";
    font-size: 80px;
    line-height: 95px;
    color: rgb(255,255,255);
    margin: 294px auto 0;
    text-transform: uppercase;
    width: 81.5%;
}

.third-screen .screen__title,
.fourth-screen .screen__title,
.fifth-screen .screen__title,
.sixth-screen .screen__title,
.seventh-screen .screen__title  {
    letter-spacing: 2.1px;
}

.screen__title .screen__title--yellow {
    color: rgb(255, 200, 75);
}

.screen__title .screen__title--small {
    font-family: "Muller Medium";
    font-size: 40px;
    display: block;
    line-height: 52px;
    letter-spacing: 1.2px;
    margin-bottom: 25px;
}

.third-screen .screen__title .screen__title--small {
    margin-bottom: 51px;
}

.screen__subtitle {
    font-family: "Roboto Regular";
    display: flex;
    flex-direction: column;
    font-size: 22px;
    line-height: 33px;
    margin: 52px 0 0 194px;
}

.screen-slider {
    width: 34%;
    height: 250px;
    font-family: "Roboto Regular";
    font-size: 18px;
    line-height: 27px;
    position: relative;
}

.third-screen__wrapper {
    width: 81%;
    margin: 0 auto;
}

// .screen-slider .slick-list.draggable {
//     height: 250px !important;
// }

.screen-slider__slide-text {
   padding: 51px 101px 10px 44px;
}

.owl-stage {
    display: flex;
    height: 250px;
}

.owl-stage-outer {
    overflow: hidden;
}

.screen-slider .owl-prev {
    border: none;
    outline: none;
    width: 40px;
    height: 30px;
    background: url("../img/arrow-active.png") no-repeat;
    color: transparent;
    position: absolute;
    bottom: 7%;
    left: 9%;
}

.screen-slider .owl-prev:hover {
    background: url("../img/hover-arrow.png") no-repeat;
    transform: rotate(180deg);
    bottom: 11%;
    left: 7%;
}

.screen-slider .owl-next {
    border: none;
    outline: none;
    width: 40px;
    height: 30px;
    background: url("../img/arrow-active.png") no-repeat;
    color: transparent;
    transform: rotate(180deg);
    position: absolute;
    bottom: 11%;
    left: 17%;
}

.screen-slider .owl-next:hover {
    background: url("../img/hover-arrow.png") no-repeat;
    transform: rotate(0deg);
    bottom: 7%;
    left: 19%;
}

.screen-slider .owl-prev.disabled {
    background: url("../img/arrow-disabled.png") no-repeat;
    transform: rotate(180deg);
    position: absolute;
    bottom: 11%;
    left: 7%;
}

.screen-slider .owl-next.disabled {
    background: url("../img/arrow-disabled.png") no-repeat;
    transform: rotate(0deg);
}

//стили для слайдера внутри слайда
.owl-item:first-child .screen-slider__slide {
    background: url("../img/first-small-screen.png") no-repeat;
    // width: 440px;
    // height: 250px !important;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.owl-item:nth-child(2) .screen-slider__slide {
    background: url("../img/second-small-screen.png") no-repeat;
    // width: 440px;
    // height: 250px !important;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.owl-item:nth-child(3) .screen-slider__slide {
    background: url("../img/third-small-screen.png") no-repeat;
    // width: 440px;
    // height: 250px !important;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}
