.vacancy {
    width: 75.5%;
    margin: 68px auto 0;
}


.about-vacancy {
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto Regular";
    width: 429px;
}

.vacancy-button {
    display: flex;
    margin-top: 9.2%;
}

.vacancy-link {
    color: rgb(8,8,8);
    background-color: rgb(255,255,255);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 27px;
    font-family: "Muller Bold";
    text-transform: uppercase;
    display: block;
    margin-top: 106px;
    padding: 20px 24px 14px;
    max-width: 190px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.vacancy-button .vacancy-link {
    padding: 20px 30px 14px;
    margin: 0px 20px 0 0;
}

.vacancy-office {
    display: inline-block;
    background-color: #ffc54a;
    color: #080808;
    font-size: 14px;
    line-height: 27px;
    font-family: "Muller Bold";
    text-transform: uppercase;
    padding: 20px 38px 14px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
}