@font-face {
  font-family: "Muller Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Muller/MullerMedium.woff") format("woff");
}

@font-face {
  font-family: "Muller Black";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Muller/MullerBlack.woff") format("woff");
}

@font-face {
  font-family: "Muller Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Muller/MullerBold.woff") format("woff");
}

@font-face {
  font-family: "Muller Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Muller/MullerExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Muller Medium", sans-serif;
  overflow-x: hidden;
  scrollbar-color: transparent transparent; 
  scrollbar-width: thin;
}

html {
  scrollbar-color: transparent transparent; 
  scrollbar-width: none;
}

html::-webkit-scrollbar-track{
  background-color: transparent;
}

html::-webkit-scrollbar{
  width: 0px;
}

html::-webkit-scrollbar-thumb{
  background-color:transparent;
  background-clip: padding-box;
}