@font-face {
  font-family: "Muller Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Muller/MullerMedium.woff") format("woff");
}
@font-face {
  font-family: "Muller Black";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Muller/MullerBlack.woff") format("woff");
}
@font-face {
  font-family: "Muller Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Muller/MullerBold.woff") format("woff");
}
@font-face {
  font-family: "Muller Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Muller/MullerExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
}
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Muller Medium", sans-serif;
  overflow-x: hidden;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}
html {
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
html::-webkit-scrollbar {
  width: 0px;
}
html::-webkit-scrollbar-thumb {
  background-color: transparent;
  background-clip: padding-box;
}
/*stylelint-disable*/
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-x: hidden;
}
/**
 * Remove the margin in all browsers (opinionated).
 */
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
p,
a,
div,
h1,
h2 {
  margin: 0;
  padding: 0;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
.main-header {
  width: 100%;
  position: fixed;
  height: 100px;
  top: 0px;
  left: 0px;
  z-index: 100;
}
.site-translate {
  color: #ffffff;
  font-family: "Muller Medium";
  font-size: 11px;
  line-height: 27px;
  text-transform: uppercase;
  margin: 78px 0 0 auto;
  cursor: pointer;
}
.main-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 81%;
  margin: 0 auto;
}
.main-header__logo {
  width: 90px;
  height: 58px;
  display: block;
  background: url("../img/logo.png") no-repeat;
  background-size: contain;
  margin: 42px 22.5% 0 0;
}
.main-header-menu {
  margin-top: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-header-menu__item {
  font-family: "Muller Medium";
  color: #ffffff;
  text-decoration: none;
  font-size: 11px;
  line-height: 27px;
  text-transform: uppercase;
  margin-right: 35px;
  letter-spacing: 1px;
  position: relative;
}
.main-header-menu__item-counter {
  position: relative;
  color: #000000;
  background-color: #ffc84b;
  border-radius: 100%;
  top: -6px;
  right: -2px;
  font-size: 11px;
  line-height: 11px;
  width: 16px;
  height: 16px;
  display: inline-block;
}
.main-header-menu__item-counter-number {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.main-copyright {
  color: #22474c;
  font-family: "Muller Medium";
  font-size: 10px;
  line-height: 24px;
  text-transform: uppercase;
  position: absolute;
  z-index: 10;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 86%;
  letter-spacing: 0.8px;
  left: 1%;
}
.screen {
  color: #ffffff;
  background-color: #0c2a2e;
}
.first-screen {
  background: url('../img/first-screen.png') no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
@media (min-width: 1920px) {
  background: url('../img/back.png') no-repeat;
}
.second-screen {
  background: url('../img/second-screen.png') no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.third-screen {
  background: url('../img/third-screen.png') no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.fourth-screen {
  background: url('../img/map.jpg') no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.fifth-screen {
  background: url('../img/fourth-screen.png') no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.sixth-screen {
  background: url('../img/five-screen.png') no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.seventh-screen {
  background: url('../img/six-screen.png') no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.eigth-screen {
  background: url('../img/six-screen.png') no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.ninth-screen {
  background: url('../img/seven-screen.png') no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.slick-vertical .slick-slide {
  height: 100vh !important;
}
.slick-list .draggable {
  height: 100vh !important;
}
.slick-dots {
  position: absolute;
  z-index: 100;
  top: 300px;
}
.screen__title {
  font-family: "Muller Black";
  font-size: 80px;
  line-height: 95px;
  color: #ffffff;
  margin: 18.2% auto 0;
  text-transform: uppercase;
  width: 81.5%;
}
@media (min-width: 1024px) and (max-width: 1599px) {
  .screen__title {
    font-size: 60px;
    line-height: 75px;
    margin-top: 15%;
  }
}
.third-screen .screen__title,
.fourth-screen .screen__title,
.fifth-screen .screen__title,
.sixth-screen .screen__title,
.seventh-screen .screen__title {
  letter-spacing: 2.1px;
}
.screen__title .screen__title--yellow {
  color: #ffc84b;
}
.screen__title .screen__title--small {
  font-family: "Muller Medium";
  font-size: 40px;
  display: block;
  line-height: 52px;
  letter-spacing: 1.2px;
  margin-bottom: 25px;
}
.third-screen .screen__title .screen__title--small {
  margin-bottom: 51px;
}
.screen__subtitle {
  font-family: "Roboto Regular";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 22px;
  line-height: 33px;
  margin: 52px 0 0 194px;
  width: 76%;
  margin: 3.3% auto 0;
}
.screen-slider {
  width: 34%;
  height: 250px;
  font-family: "Roboto Regular";
  font-size: 18px;
  line-height: 27px;
  position: relative;
}
.third-screen__wrapper {
  width: 81%;
  margin: 0 auto;
}
.screen-slider__slide-text {
  padding: 51px 101px 10px 44px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  padding: 20px;
  font-size: 16px;
}
.owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
}
.owl-stage-outer {
  overflow: hidden;
}
.screen-slider .owl-prev {
  border: none;
  outline: none;
  width: 60px;
  height: 35px;
  background: url("../img/left-arrow.svg") no-repeat;
  background-size: 100% 100%;
  color: transparent;
  position: absolute;
  bottom: 6%;
  left: 6%;
  cursor: pointer;
}
.screen-slider .owl-prev:hover {
  background: url("../img/left-arrow-active.svg") no-repeat;
  background-size: 100% 100%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  bottom: 6%;
  left: 6%;
}
.screen-slider .owl-next {
  border: none;
  outline: none;
  width: 60px;
  height: 35px;
  background: url("../img/left-arrow.svg") no-repeat;
  background-size: 100% 100%;
  color: transparent;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  bottom: 6%;
  left: 14.7%;
  cursor: pointer;
}
.screen-slider .owl-next:hover {
  background: url("../img/left-arrow-active.svg") no-repeat;
  background-size: 100% 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 6%;
  left: 14.7%;
}
.screen-slider .owl-prev.disabled {
  background: url("../img/left-arrow-inactive.svg") no-repeat;
  background-size: 100% 100%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  position: absolute;
  bottom: 6%;
  left: 6%;
}
.screen-slider .owl-next.disabled {
  background: url("../img/left-arrow-inactive.svg") no-repeat;
  background-size: 100% 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 14.7%;
  bottom: 6%;
}
.owl-item:first-child .screen-slider__slide {
  background: url("../img/first-small-screen.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.owl-item:nth-child(2) .screen-slider__slide {
  background: url("../img/second-small-screen.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.owl-item:nth-child(3) .screen-slider__slide {
  background: url("../img/third-small-screen.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.advantages {
  width: 76%;
  margin: 4% auto 0;
}
.advantages__subtitle {
  color: #ffc84b;
  font-family: "Muller Medium";
  font-size: 12px;
  line-height: 34px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 37px;
}
.advantages-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto Regular";
  margin: 0;
  padding: 0;
}
.advantages-list__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 290px;
  margin-right: 50px;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 1024px) and (max-width: 1599px) {
  .advantages-list__item {
    font-size: 14px;
    line-height: 20px;
    width: 270px;
    margin-right: 30px;
  }
}
.about-games {
  width: 81%;
  margin: 0 auto;
}
.games-list__item-icon {
  margin-bottom: 13px;
}
.games-list__item-icon--dragon {
  width: 48px;
  height: 48px;
  background: url('../img/dragon-world.png') no-repeat;
}
.games-list__item-icon--breaking {
  width: 48px;
  height: 48px;
  background: url('../img/breaking-bad.png') no-repeat;
}
.games-list__item-icon--narcos {
  width: 48px;
  height: 48px;
  background: url('../img/narcos.png') no-repeat;
}
.games-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 26px;
  font-family: "Roboto Regular";
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5%;
}
@media (min-width: 1024px) and (max-width: 1599px) {
  margin-bottom: 3%;
}
.games-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 271px;
  margin-right: 70px;
}
.games-list__item:nth-child(2) {
  width: 195px;
}
.games-list__item-name {
  color: #ffc84b;
}
.about-games__description {
  width: 583px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Regular";
}
.experience {
  width: 76%;
  margin: 52px auto 0;
}
.experience-description {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Regular";
  width: 429px;
}
.vacancy {
  width: 75.5%;
  margin: 68px auto 0;
}
.about-vacancy {
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto Regular";
  width: 429px;
}
.vacancy-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9.2%;
}
.vacancy-link {
  color: #080808;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 27px;
  font-family: "Muller Bold";
  text-transform: uppercase;
  display: block;
  margin-top: 106px;
  padding: 20px 24px 14px;
  max-width: 190px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
}
.vacancy-button .vacancy-link {
  padding: 20px 30px 14px;
  margin: 0px 20px 0 0;
}
.vacancy-office {
  display: inline-block;
  background-color: #ffc54a;
  color: #080808;
  font-size: 14px;
  line-height: 27px;
  font-family: "Muller Bold";
  text-transform: uppercase;
  padding: 20px 38px 14px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
}
.contacts {
  font-family: "Roboto Regular";
  font-size: 24px;
  line-height: 36px;
  width: 75.5%;
  margin: 69px auto 0;
}
.contacts-wrapper {
  margin-bottom: 56px;
}
.contacts-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
.contacts-address {
  margin: 0;
}
.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 80px;
}
.contacts-list__item-text {
  color: #ffc84b;
  font-family: "Muller Bold";
  text-transform: uppercase;
  font-size: 11px;
  line-height: 27px;
  letter-spacing: 0.6px;
}
.contacts-list__item-link {
  color: #ffffff;
  text-decoration: none;
}
.contacts-copyright {
  font-family: "Roboto Regular";
  font-size: 14px;
  line-height: 14px;
  color: #496569;
  margin-top: 11.7%;
}
.contacts-copyright > a {
  color: #496569;
}
#pagepiling {
  background-color: #0c2a2e;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}
#pagepiling .slick-dots {
  top: 32.8%;
  left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#pagepiling .slick-dots li {
  background-color: #496569;
  width: 20px;
  height: 2px;
  border-radius: 10px;
  margin-bottom: 7.5px;
  color: transparent;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
#pagepiling .slick-dots li.slick-active {
  width: 30px;
  background-color: #ffc84b;
}
#pagepiling .slick-dots li button {
  display: none;
}
.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 76%;
  margin: 10.7% auto 0;
}
.button-wrapper__video {
  display: inline-block;
  color: #080808;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 27px;
  font-family: "Muller Bold";
  text-transform: uppercase;
  padding: 18px 37px 16px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button-wrapper__photo {
  display: inline-block;
  background-color: #ffc54a;
  color: #080808;
  font-size: 14px;
  line-height: 27px;
  font-family: "Muller Bold";
  text-transform: uppercase;
  padding: 18px 37px 16px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
}
.button-wrapper__video-icon {
  width: 16px;
  height: 16px;
  background: url('../img/play-video.png') no-repeat;
  background-size: 100% 100%;
  margin: -2px 10px 0 0;
}
.gallery-popup {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 11, 12, 0.8);
  top: 0px;
  left: 0px;
  z-index: 100;
}
.gallery {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#gallery .owl-stage-outer {
  width: 80vw;
  margin: 0 auto;
}
#gallery .owl-stage {
  height: 70vh;
  width: 80vw;
  overflow: hidden;
}
.gallery-item {
  width: 80vw !important;
  height: 80vh !important;
}
#gallery .owl-stage img {
  background-size: contain;
  background-position: center;
}
#gallery .owl-nav {
  width: 75vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#gallery .owl-nav button span {
  color: transparent;
}
#gallery .owl-nav button.owl-prev {
  background: url("../img/left-arrow.svg") no-repeat;
  background-size: 100% 100%;
  width: 60px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}
#gallery .owl-nav button.owl-prev:hover {
  background: url("../img/left-arrow-active.svg") no-repeat;
  background-size: 100% 100%;
  width: 60px;
  height: 35px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
#gallery .owl-nav button.owl-next {
  background: url("../img/left-arrow.svg") no-repeat;
  background-size: 100% 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 60px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}
#gallery .owl-nav button.owl-next:hover {
  background: url("../img/left-arrow-active.svg") no-repeat;
  background-size: 100% 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 60px;
  height: 35px;
}
.gallery-popup__close {
  width: 16px;
  height: 16px;
  background: url('../img/gallery-popup-close.svg');
  background-size: 100% 100%;
  position: absolute;
  right: 13%;
  top: 20%;
  cursor: pointer;
  opacity: 1;
  z-index: 200;
}
.office-popup {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 11, 12, 0.8);
  top: 0px;
  left: 0px;
  z-index: 100;
}
.office {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#office .owl-stage-outer {
  width: 80vw;
  margin: 0 auto;
}
#office .owl-stage {
  height: 70vh;
  width: 80vw;
  overflow: hidden;
}
.office-item {
  width: 80vw !important;
  height: 80vh !important;
}
#office .owl-stage img {
  background-size: contain;
  background-position: center;
}
#office .owl-nav {
  width: 75vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#office .owl-nav button span {
  color: transparent;
}
#office .owl-nav button.owl-prev {
  background: url("../img/left-arrow.svg") no-repeat;
  background-size: 100% 100%;
  -webkit-transform: translate(180deg);
          transform: translate(180deg);
  width: 60px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}
#office .owl-nav button.owl-prev:hover {
  background: url("../img/left-arrow-active.svg") no-repeat;
  background-size: 100% 100%;
  width: 60px;
  height: 35px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
#office .owl-nav button.owl-next {
  background: url("../img/left-arrow.svg") no-repeat;
  background-size: 100% 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 60px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}
#office .owl-nav button.owl-next:hover {
  background: url("../img/left-arrow-active.svg") no-repeat;
  background-size: 100% 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 60px;
  height: 35px;
}
.office-popup__close {
  width: 16px;
  height: 16px;
  background: url('../img/gallery-popup-close.svg');
  background-size: 100% 100%;
  position: absolute;
  right: 15%;
  top: 20%;
  cursor: pointer;
  opacity: 1;
  z-index: 200;
}
.view-office {
  width: 76%;
  margin: 10.7% auto 0;
}
.popup-video {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 11, 12, 0.8);
  top: 0px;
  left: 0px;
  z-index: 100;
}
.popup-video.active {
  display: block;
}
.popup-video-container {
  width: 70vw;
  height: 72vh;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: none;
}
.popup-video__close {
  width: 16px;
  height: 16px;
  background: url('../img/gallery-popup-close.svg');
  background-size: 100% 100%;
  position: absolute;
  right: 17%;
  top: 17%;
  cursor: pointer;
  opacity: 1;
  z-index: 200;
}
.screen {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: relative;
}
.first-screen-vacancy {
  background: url('../img/first-vacancy-screen.png') no-repeat;
  background-size: cover;
}
.second-screen-vacancy {
  background: url('../img/second-vacancy-screen.png') no-repeat;
  background-size: cover;
}
.third-screen-vacancy {
  background: url('../img/third-vacancy-screen.png') no-repeat;
  background-size: cover;
}
.fourth-screen-vacancy {
  background: url('../img/fourth-vacancy-screen.png') no-repeat;
  background-size: cover;
}
.fifth-screen-vacancy {
  background: url('../img/fifth-vacancy-screen.png') no-repeat;
  background-size: cover;
}
.screen-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.vacancy-subtitle {
  font-family: "Roboto Regular";
  font-size: 16px;
  line-height: 24px;
  width: 76%;
  margin: 3.4% auto 0;
}
#vacancy .vacancy-link {
  position: absolute;
  margin-top: 0px;
  top: 87%;
  left: 9.5%;
  padding: 17px 39px;
}
.vacancy-text {
  font-family: "Roboto Regular";
  font-size: 20px;
  line-height: 30px;
  width: 76%;
  margin: 4% auto 0;
}
.vacancy-text > p {
  width: 463px;
}
.vacancy-form {
  background-color: #0a2427;
  width: 45.6%;
  height: 100vh;
  position: relative;
  padding-top: 16%;
}
.title-wrapper {
  width: 54.4%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100vh;
}
.title-wrapper .screen__title {
  margin: 34% 10% 0 18%;
}
.title-wrapper .vacancy-subtitle {
  width: 56%;
  margin: 5.4% auto 0;
}
#vacancy-form {
  margin: 0 auto;
  width: 58%;
  font-family: "Muller Bold";
  font-size: 14px;
  line-height: 24px;
}
.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 41px;
  position: relative;
}
.input-wrapper:last-child {
  margin-bottom: 18px;
}
.input-wrapper__label {
  color: #2a4f54;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: 9px;
}
.input-wrapper__label.input-wrapper__label--yellow {
  color: #ffc54a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -3px;
}
.input-wrapper__input {
  text-transform: uppercase;
  color: #d5d5d5;
  padding: 24px 34px;
  border: none;
  outline: none;
}
.vacancy-form-submit {
  border: none;
  outline: none;
  background-color: #ffc54a;
  color: #000000;
  text-transform: uppercase;
  padding: 19px 58px;
  letter-spacing: 1.2px;
}
.input-wrapper__input.input-wrapper__input--file {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 0;
  cursor: pointer;
}
.add-file-button {
  width: 13px;
  height: 13px;
  background-size: 100% 100%;
  background: url("../img/add-file.png") no-repeat;
  margin: -3px 17px 0 5px;
  cursor: pointer;
}
.current-vacancies {
  position: absolute;
  width: 100vw;
  height: 100.2vh;
  top: 0px;
  right: 0px;
  background-color: rgba(7, 11, 12, 0.7);
  z-index: 100;
  display: none;
}
.current-vacancies.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.current-wrapper {
  width: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #ffffff;
  margin-left: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow-y: auto;
  padding-bottom: 40px;
  scrollbar-color: #716d6f #EFF0FA;
  scrollbar-width: thin;
}
.current-wrapper::-webkit-scrollbar-track {
  background-color: #EFF0FA;
  margin: 20px 30px 10px 10px;
}
.current-wrapper::-webkit-scrollbar {
  width: 5px;
  padding: 13px;
}
.current-wrapper::-webkit-scrollbar-thumb {
  background-color: #716d6f6b;
  background-clip: padding-box;
  border-right: 4px;
}
.current-wrapper.inactive {
  margin-left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  height: 100vh;
  top: 0px;
  left: 0px;
  overflow-y: hidden;
}
.current-wrapper__current {
  font-family: "Muller Extra Bold";
  text-transform: uppercase;
  letter-spacing: 2.8px;
  font-size: 36px;
  line-height: 36px;
  margin: 4.8% 0 0 9.2%;
}
.current-category {
  font-family: "Muller Bold";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 23px;
  margin: 6% 0 0 9.2%;
  border-bottom: 1px solid #000000;
  width: 30%;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.current-category > p {
  letter-spacing: 1px;
}
.category-list {
  display: none;
}
.vacancy-list {
  margin: 5% 0 0 9.2%;
  width: 82.5%;
}
.vacancy-list__item {
  background-color: #f4f4f4;
  font-family: "Roboto Regular";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 4% 4.4% 5.1%;
  margin-bottom: 1%;
  cursor: pointer;
}
@media (min-width: 1024px) and (max-width: 1599px) {
  .vacancy-list__item {
    padding: 3% 4% 3% 5%;
  }
}
.vacancy-list__item-name {
  margin-right: auto;
  font-size: 20px;
  line-height: 23.6px;
}
.vacancy-list__item-subtext {
  font-size: 11px;
  line-height: 23.6px;
  color: #b4b4b4;
}
.vacancy-list__item-arrow {
  width: 15px;
  height: 14px;
  background: url("../img/vacancy-arrow-right.png") no-repeat;
  background-size: 100% 100%;
  margin-left: 41px;
  cursor: pointer;
}
.vacancy-link--yellow {
  background-color: #ffc54a;
  color: #080808;
  font-size: 14px;
  line-height: 27px;
  font-family: "Muller Bold";
  text-transform: uppercase;
  display: block;
  padding: 18px 24px;
  max-width: 190px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  margin: 20.5% 0 0 9.2%;
}
@media (min-width: 1024px) and (max-width: 1599px) {
  .vacancy-link--yellow {
    margin-top: 15%;
  }
}
.current-wrapper__close {
  width: 16px;
  height: 16px;
  background: url('../img/close-vacancy-list.png');
  background-size: 100% 100%;
  margin: 5% 7.2% 0 auto;
  cursor: pointer;
  opacity: 1;
}
.current-wrapper.inactive .current-wrapper__close {
  opacity: 0;
}
.current-category__arrow {
  width: 6px;
  height: 3px;
  background: url("../img/category-arrow.png");
  background-size: 100% 100%;
  margin-left: auto;
}
.vacancy-block-disabled {
  width: 50%;
  height: 101vh;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: auto;
  position: fixed;
  display: none;
}
.vacancy-block-disabled.active {
  display: block;
}
.vacancy-detail {
  position: absolute;
  width: 50%;
  margin-left: auto;
  background-color: #ffffff;
  right: 0px;
  height: 101vh;
  font-family: "Roboto Regular";
  display: none;
  overflow-y: auto;
  scrollbar-color: #716d6f #EFF0FA;
  scrollbar-width: thin;
}
.vacancy-detail::-webkit-scrollbar-track {
  background-color: #EFF0FA;
}
.vacancy-detail::-webkit-scrollbar {
  width: 5px;
}
.vacancy-detail::-webkit-scrollbar-thumb {
  background-color: #716d6f6b;
  background-clip: padding-box;
}
.vacancy-detail.show {
  display: block;
}
.vacancy-detail__close {
  width: 16px;
  height: 16px;
  background: url('../img/close-vacancy-list.png');
  background-size: 100% 100%;
  cursor: pointer;
  position: fixed;
  top: 5.7%;
  right: 7.2%;
}
.vacancy-detail__title {
  font-family: "Muller Extra Bold";
  text-transform: uppercase;
  letter-spacing: 2.8px;
  font-size: 36px;
  line-height: 36px;
  margin: 11.8% 0 0 9.2%;
}
.vacancy-detail__description {
  font-size: 16px;
  line-height: 24px;
  width: 74%;
  margin: 4% 0 0 9.2%;
}
@media (min-width: 1024px) and (max-width: 1599px) {
  .vacancy-detail__description {
    font-size: 14px;
    line-height: 20px;
  }
}
.vacancy-detail__subtitle {
  font-size: 24px;
  line-height: 24px;
  font-family: "Roboto Bold";
  margin: 4.6%  0 0 9.2%;
}
.vacancy-response--yellow {
  background-color: #ffc54a;
  color: #080808;
  font-size: 14px;
  line-height: 27px;
  font-family: "Muller Bold";
  text-transform: uppercase;
  display: block;
  padding: 18px 24px;
  max-width: 273px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  margin: 14.2% 0 4% 9.2%;
}
@media (min-width: 1024px) and (max-width: 1599px) {
  .vacancy-response--yellow {
    margin-top: 5%;
  }
}
.duties-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  margin: 2.3% 0 0 9.2%;
  width: 74%;
}
.duties-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 2.1%;
}
@media (min-width: 1024px) and (max-width: 1599px) {
  .duties-list__item {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1.1%;
  }
}
.duties-list__item::before {
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  background-color: #ffc84b;
  margin-right: 22px;
  margin: 1.7% 3.6% 0 0;
}
@media (min-width: 1024px) and (max-width: 1599px) {
  .duties-list__item::before {
    margin-top: 1.3%;
  }
}
